.decor-vertical {
  width: 0.5rem;
  height: 1rem;
  background: var(--white);
  z-index: 1;
  align-self: flex-end;
  margin-right: 3rem;
  display: inline;
}

.decor-horizontal {
  width: 1.5rem;
  height: 0.5rem;
  background: var(--white);
  z-index: 1;
  align-self: flex-end;
  margin-right: 3rem;
  display: inline;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 0.5rem 0;
}
