.decor-vertical {
  width: 0.5rem;
  height: 1rem;
  background: var(--white);
  z-index: 1;
  align-self: flex-end;
  margin-right: 3rem;
  display: inline;
}

.decor-horizontal {
  width: 1.5rem;
  height: 0.5rem;
  background: var(--white);
  z-index: 1;
  align-self: flex-end;
  margin-right: 3rem;
  display: inline;
}
