.decor-vertical {
  width: 0.5rem;
  height: 2rem;
  background: var(--white);
  z-index: 1;
  position: absolute;
  right: 4rem;
  bottom: 3rem;
}

.decor-horizontal {
  width: 2rem;
  height: 0.5rem;
  background: var(--white);
  z-index: 1;
  position: absolute;
  right: 4rem;
  bottom: 3rem;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 0.5rem 0;
}

@media (max-width: 750px) {
  .decor-vertical,
  .decor-horizontal {
    display: none;
  }
}
