<div class="header">
  <header>
    <p>Already have an account? <a href="/">Sign in.</a></p>
  </header>
</div>

<div class="container">
  <h1>Join us!</h1>
  <p>To begin this journey, tell us what type of account you'd be opening.</p>

  <div class="options">
    <button class="btn btn-account">
      <img
        src="individual.svg"
        alt="Individual account icon."
        loading="eager"
        class="icon"
      />
      <div>
        <h2>Individual</h2>
        <p>Personal account to manage all of your activities.</p>
      </div>

      <img src="arrow-right.svg" alt="Arrow icon" loading="eager" />
    </button>

    <button class="btn btn-account">
      <img
        src="business.svg"
        alt="Business account icon."
        loading="eager"
        class="icon"
      />
      <div>
        <h2>Business</h2>
        <p>Personal account to manage all of your activities.</p>
      </div>
      <img src="arrow-right.svg" alt="Arrow icon" loading="eager" />
    </button>
  </div>
</div>
