header {
  text-align: right;
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.container {
  margin-top: 8rem;
  p {
    margin: 0;
  }

  a:hover {
    transition: 0.5s;
    color: var(--primary-010);
  }
}

@media (max-width: 750px) {
  header {
    position: static;
    margin-top: 1.5rem;
  }
}
