div {
  margin: 1.5rem 3rem;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    user-select: none;

    a {
      display: flex;
      align-items: center;
      color: var(--grey);
      gap: 0.5rem;
      transition: 0.5s;

      &:hover {
        color: var(--light-grey);
      }
    }

    div {
      margin: 0;
      cursor: default;

      p {
        margin: 0;
        color: var(--light-grey);
        text-align: right;
        text-transform: uppercase;
      }

      .bold {
        font-weight: 600;
        color: var(--grey);
        text-transform: none;
      }
    }
  }
}

@media (max-width: 750px) {
  div {
    margin: 1rem 0;
  }
}
