header {
  display: flex;
  user-select: none;
  margin-bottom: 1rem;
  justify-content: space-between;
  position: absolute;
  right: 3rem;
  left: 3rem;

  button {
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    color: var(--grey);
    gap: 0.5rem;
    transition: 0.5s;
    box-shadow: none;
    background: none;
    border: none;

    &:hover {
      color: var(--light-grey);
    }
  }

  .internal {
    position: relative;
    right: 0;

    cursor: default;

    p {
      margin: 0;
      color: var(--light-grey);
      text-align: right;
      text-transform: uppercase;
    }

    .bold {
      font-weight: 600;
      color: var(--grey);
      text-transform: none;
    }
  }
}

@media (max-width: 750px) {
  header {
    justify-content: space-between;
    position: relative;
    padding-top: 2rem;

    a {
      position: relative;
      left: 0rem;
    }

    .internal {
      position: relative;
      right: 0rem;
    }
  }
}
