html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
}

html {
  font-size: 12px;
}

h1 {
  font-size: 22px;
  color: var(--black);
  font-weight: 700;
  margin: 0;
}

h2 {
  margin-bottom: 1rem;
}

p {
  color: var(--grey);
  margin: 10px 0;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: var(--primary);
}
