.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;

  img {
    width: 10px;
    height: 10px;
    margin-right: 0.5rem;
  }
}

.input-container {
  margin-bottom: 1rem;

  .input-with-icon {
    position: relative;

    input {
      width: 100%;
      padding-right: 3rem;
    }

    img {
      display: none;
      position: absolute;
      right: 10px;
      top: 55%;
      transform: translateY(-50%);
    }

    img.visible {
      display: block;
    }
  }
}
