.bg {
  height: 100vh;
  max-height: 100vh;
  background-image: url("../../../public/background-building.jpg");

  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
  flex-direction: column;

  cursor: default;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;

    background-color: var(--primary-transparent);
    pointer-events: none;
    z-index: 1;
  }

  .elements-bg {
    position: absolute;
    top: 10%;

    .quote {
      display: flex;
      flex-direction: column;
      margin: 6rem 3rem;
      position: relative;
      justify-content: center;

      z-index: 1;

      .paragraph {
        .decor-text {
          margin: 1rem 0;
          font-family: "Gayathri";
          font-weight: 700;
          font-size: 4rem;
          color: var(--secondary);
        }

        p {
          color: var(--white);
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 2rem;
          letter-spacing: 1px;
        }
      }

      .name {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 1rem;
          height: 1rem;
        }

        p {
          color: var(--white);
          letter-spacing: 1px;
        }
      }
    }
  }

  .brand {
    display: flex;
    margin: 3rem;
    gap: 0.5rem;
    z-index: 1;
    align-items: baseline;

    p {
      color: var(--white);
      font-weight: 600;
      font-family: "Poppins";
      text-align: left;
      font-size: 1rem;
    }
  }
}

@media (max-width: 750px) {
  .bg {
    width: 100vw;
    height: 10vh;
    justify-content: center;

    &::before {
      height: 10vh;
      width: 100vw;
    }

    .brand {
      align-items: center;
      padding: 1rem;
      margin: 0;

      p {
        color: var(--white);
        font-weight: 600;
        font-family: "Poppins";
        text-align: left;
      }
    }

    .elements-bg {
      display: none;
    }
  }
}
