body {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-direction: column;
  width: 80%;
  flex-wrap: wrap;

  position: relative;
}

.main {
  width: 80%;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  body {
    display: flex;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;

    width: 80vw;

    &.main {
      padding: 0;
    }
  }
}
