body {
  display: grid;
  grid-template-columns: 45vw auto;
}

.container {
  display: flex;
  align-items: center;
  margin: 2.5rem 6rem;
  width: 60%;
  box-sizing: border-box;
  flex-wrap: wrap;

  .form {
    box-sizing: content-box;
  }
}
