.container {
  padding: 0 1rem 0 0;

  .p-style {
    margin-bottom: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .input-container {
      margin-bottom: 0.5rem;
    }

    .checkbox {
      display: flex;
      align-items: center;
      margin: 0.75rem 0;
      gap: 0.5rem;

      input {
        cursor: pointer;
        width: 1rem;
        height: 1rem;
        border: 1px solid var(--light-grey);
        margin: 0;
        box-shadow: none;
      }

      input:hover {
        box-shadow: var(--box-shadow);
      }

      input:checked {
        background-color: var(--primary);
      }
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
      font-size: 10px;
      color: var(--light-grey);
    }

    .or {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
