.container {
  padding: 0;

  .p-style {
    margin-bottom: 0;
  }
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
      font-size: 10px;
      color: var(--light-grey);
    }

    .or {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 750px) {
  .container {
    h1 {
      margin: 1rem 0.5rem 0;
    }

    .separator {
      margin: 1rem 0;
    }
    form {
      padding: 0;

      &label {
        text-align: left;
      }
    }
  }
}
