<div class="container">
  <h1>Register Individual Account!</h1>
  <p class="p-style">For regulatory compliance, your details are required.</p>
  <div class="separator"></div>
  <div class="form">
    <form action="input" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="input-container">
        <label for="fullName">Full name</label>
        <input
          type="text"
          name="fullName"
          ngModel
          placeholder="Your name"
          required
          aria-label="Your name"
        />
      </div>

      <div class="input-container">
        <label for="email">E-mail</label>
        <input
          type="text"
          placeholder="example@email.com"
          name="email"
          ngModel
          required
          aria-label="Your e-mail"
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}(?:\.[a-zA-Z]{2})?$"
        />
      </div>

      <div class="input-container">
        <label for="password"
          >Password (upper and lowercase, number and 1 special char)</label
        >
        <input
          type="password"
          placeholder="Min. 8 chars"
          x-moz
          ngModel
          name="password"
          required
          aria-label="Your password"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,}$"
          title="Password must include an uppercase letter, a lowercase letter, a number, and a special character."
        />
      </div>

      <div class="checkbox">
        <input
          type="checkbox"
          name="terms-and-conditions"
          value="true"
          [(ngModel)]="agreeTerms"
        />
        <label for="terms-and-conditions">I agree to terms & conditions</label>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid || !agreeTerms"
      >
        Register Account
      </button>
    </form>

    <div class="social">
      <div class="or">
        <div class="separator"></div>
        <p>Or</p>
        <div class="separator"></div>
      </div>

      <button type="button" class="btn btn-social">
        <img src="google.svg" alt="Google icon" />
        Register with google
      </button>
    </div>
  </div>
</div>
