:root {
  --primary: #1565d8;
  --primary-010: #1252ac;
  --secondary: #00daf7;

  --primary-transparent: rgba(21, 101, 216, 0.9);

  --white: #fff;

  --grey: #8692a6;
  --light-grey: #bdbdbd;

  --black: #000;
}
